@import "../../../constants";

.sign-out {
  .sign-out-icon {
    width: 3vw;
    height: 3vw;
    min-width: 24px;
    min-height: 24px;
    max-width: 36px;
    max-height: 36px;
    cursor: pointer;
  }
}
