.app-header-new{

.login{
  padding: 5px; 
  background: #4E4F4F;
  border-radius: 10px; 
  font-style: normal; 
  font-weight: normal; 
  font-size: 16px; 
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
}