@import "../../../../constants";

.popup-wrapper-discount-coupon {
  width: 100%;
  //margin-right: 50px;

  .my-card{
    border: none;
    border-radius: 14px;
    //height: 339px;

    .btn-message-popup{
      background: #505050;
      border-radius: 5px;
      height: 47px;
      width: 100%;
      //margin-right: -5px;
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.2em;
      color: #FFFFFF;
      //margin-top: 23px;
      
  }

    .header{
      outline: none;
      border-width: 0;
      border-radius: 5px;
      box-shadow: inset 0px 3px 7px 0 rgba(0, 0, 0, 0.13);
      background: #f3f3f3;
      padding: 0.5rem;
      box-sizing: border-box;
      text-align: center;
      -ms-flex-align: center;
      align-items: center;
      align-items: center;
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 21px;
      color: var(--orange);
      //margin-right: 9px;
      //margin-top: -4px;
      //margin-left: 9px;
    }
  }
  

  .close-options {

    text-align: left;
    position: relative;
    height: 3 * $font-default-size;

    .close {
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      border-radius: 50%;
      background: #fff;
      top: -1.5rem;
      right: auto;
      left: 0;
    }
    .close.direction {
      right: 0;
      left: auto;
    }
    .close:before,
    .close:after {
      content: '';
      position: absolute;
      top: 20px;
      left: 7px;
      width: 26px;
      height: 1px;
      background: $text-color;
    }

    .close:before {
      webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .close:after {
      webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

  }

  .close-options.direction {
    text-align: right;
  }

}

.discount-container-wrapper {
  padding: $padding-normal-size * 0.5 0;
  padding-bottom: $padding-normal-size;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  padding-top: 2.5rem;
  border-radius: 10px;
}

.discount-button-line {
  // text-align: left;
  text-align: center;
  //transform: translateY(2.25 * $font-default-size);
  .discount-button-use {
    outline: none;
    padding: 0.5rem 1rem;
    min-width: 165px;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 8, 5, 0.22);
    background-color: var(--orange);//#ff6600;
    color: #fff;
    text-align: center;
    border: 0;
    margin: 8px 4px 0;
    font-size: 1.1 * $font-default-size;
    font-family: Arial, sans-serif;
    position: relative;
  }
  .button-cancel {
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 1.1 * $font-default-size;
    box-shadow: 0 0 5px 0 rgba(0, 8, 5, 0.22);
    background-color: #2b2b2b;
    padding: 0.55rem 1rem;
    min-width: 165px;
    object-fit: contain;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    border: 0;
    margin: 8px 4px 0;
    position: relative;
  }
}
.discount-button-line.direction {
  // text-align: right;
  text-align: center;
}

/*.header {
  font-size: 1.35 * $font-default-size;
  letter-spacing: normal;
  text-align: center;
  box-sizing: border-box;
  margin-bottom:  $margin-normal-size;
  color: #2b2b2b;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  .quarter {
    object-fit: contain;
    background-color:var(--orange);//#ff6600;
    width: 0.75 * $font-default-size;
    height: 1.25 * $font-default-size;
    position: absolute;
    top: 12px;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }*/


@media (max-width: $min-site-width) {
  .popup-wrapper {
    margin: auto;
  }
}


@media (max-width: $min-site-width) {



 /* .header {
    .quarter {
      height: 0;
    }
  }*/

}

.popup-wrapper {

  .close-options {

    .close {
      top: 3rem;
      z-index: 9;
    }

  }

}

/*.description {
  text-align: center;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: $font-default-size;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4b4b4b;
  padding: 4px;
  box-sizing: content-box;
  justify-content: center;
  display: flex;
  align-items: baseline;
  .discount-price {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fc5009;
    padding: 4px;
    box-sizing: content-box;
  }

  .discount-price.fixed-position-value-type {
    direction: ltr;
  }

  .discount-price.fixed-position-value-type.direction {
    min-width: 4 * $margin-normal-size;
  }

  .sum {
    font-size: 1.55 * $font-default-size;
    font-family: Arial, sans-serif;
  }

  .discount-price.type {
    font-size: $font-default-size * 0.8;
    padding: 4px;
    box-sizing: content-box;
    font-family: Arial, sans-serif;
  }
  .discount-price.type.direction {
    font-size: $font-default-size * 0.8;
  }
}*/

.attention {
  color: $main-color-dark;
}


.close-options {
  height: 0;

  .close {
    top: 0.25rem;
    z-index: 9;
  }

}
