@import "../../../constants";

.error-container-wrapper {
  width: 100%;
  box-sizing: border-box;
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100dvh;
}

.error-container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

.nav-top-logo-container {

  padding: 0 $padding-medium-size-percent / 2;
  padding-bottom: $padding-medium-size;
  box-sizing: border-box;
  text-align: center;

  height: 20vw;
  min-height: 280px;
  max-height: 320px;
  margin: 0 $margin-normal-size;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: content-box;

  .nav-top-logo {
    padding: 2 * $padding-normal-size;
    box-shadow: 0 0 18px 0 rgba(148, 148, 148, 0.22);
    background-color: #ffffff;
    width: 80%;
    box-sizing: border-box;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    margin: auto;

    img {
      width: 50%;
    }

  }

  .nav-top-title {
    //font-family: Arial, sans-serif;
    font-size: 0.75 * $font-medium-size;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: $text-color;
    text-align: center;
    padding: 2 * $padding-normal-size 0;
  }

}

@media only screen and (min-width: $min-site-width) {
  // Tablets portrait.
  .error-container {

  }
}

@media only screen and (min-width: 992px) {
  // Tablets landscape, laptop, desktops.
  .error-container {

  }
}

@media only screen and (min-width: $max-site-width) {
  // Desktops with full screen, TV
  .error-container {
    max-width: $max-site-width;


  }
}

.error-message {
  text-align: center;
  text-align: center;
  padding: $padding-normal-size * 5 $padding-normal-size $padding-normal-size;
  box-sizing: border-box;
  color: $error-text;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: $font-medium-size * 0.75;
}
