<div class="container">
  <div class="row">
    <div class="col">

      <p><b> תקנון מועדון לקוחות "{{name}}"</b></p>
      <br />
      <p><b>כללי</b></p>
      <br />
      <p>
        1. עם הצטרפותך למועדון הלקוחות כמפורט להלן, הנך נותן הסכמתך לכך שפרטים שמסרת לנו באתר: שם מלא, כתובת דואר
        אלקטרוני, נייד, תאריך לידה, תאריך יום נישואין וכיו"ב יישמרו אצלנו במערכת לצורך זיהוי ברכישה הבאה שלך.
      </p>
      <p>
        2. בנוסף, עם הצטרפותך למועדון הלקוחות, הנך נותן הסכמתך הפוזיטיבית לקבלת אישור דיוור שיווקי אולם תוכל לחזור בך
        מהסכמתך בכל עת.
      </p>
      <p>3. הצטרפות למועדון הלקוחות של {{name}} הינה מעל גיל 18. הנך מצהיר כי הנך מעל גיל 18 וכי לא עשית שימוש בזהות בדויה ו/או התחזות לאדם אחר. הגשת פרטים כוזבים הינה עבירה פלילית והעושה כן צפוי להליכים פליליים ואזרחיים. </p>
      <p> 4. יובהר, כי המכירה של כל מוצרי  {{name}} נעשית אך ורק בגבולות ישראל.</p>
      <p> 5. מסירת פרטי הלקוח ונתונים אחרים אודותיו במערכות {{name}}  תהווה הסכמה והיתר {{name}}  לעשות בהם שימוש לצורכי מתן שירות לצורך טיפול בהזמנת הלקוח באמצעות אתר {{name}}  ו/או האפליקציה לרבות באמצעות הודעת מסר קצר וכן, שיפור השירותים בכלל זה הסכמה לקבלת מסרים, הודעות ,תכתובות, שאלונים, בדיקות תקופתיות, סקרים וכו' שנועדו לשפרם ולשפר את השירות כלפי לקוחות {{name}}  .</p>
      <p>6. הוראות תקנון זה, על התיקונים שיחולו בו מעת לעת, יחולו על כל רכישה ושימוש באתר ו/או באפליקציה ו/או בסניפים. הצטרפותך למועדון מעידה על הסכמתך לאמור בתקנון, כפי שיתעדכן מעת לעת . </p>
      <p>
        החברה שומרת לעצמה את הזכות לשנות כלהוראה מהוראות תקנון זה בכל עת ובלא צורך בהודעה על כך, מעבר לפרסום הנוסח העדכנישל הוראות התקנון באתר ותחייב ממועד פרסומה באתר.
      </p>
      <p>
        האחריות המלאה להכרת הוראות תקנון זה כפי שיהיו מעת לעת חלה על חבר מועדון  {{name}}  בלבד. הנוסח העדכני של תקנון זה יימצא בכל עת באתר.
      </p>
      <br/>
      <p><b>הגדרות</b></p>
      <p>למונחים הבאים תיוחד בתקנון זה המשמעות הנקובה בצידם:</p>
      <p> 
        <span>7.</span>
        <span>"{{name}}" – חברת {{name}} בע”מ, ח.פ {{taxId}}, מרחוב {{address}}.</span>
      </p>
      <p> 
        <span>8.</span>
        <span><b>"האתר" ו/או "האפליקציה </b></span>
        <span>" – אתר האינטרנט" ו/או "האפליקציה אותו {{name}} מנהלת ומפעילה בכתובת</span>
        <span>
          <a href="https://order.bitetech.co.il/#/{{franchiseId}}/home">https://order.bitetech.co.il/#/{{franchiseId}}/home </a>
        </span>
      </p>
      <p>
        <span>9.</span>
        <span><b>"החוק"</b></span> 
        <span>- חוק הגנת הצרכן, התשמ”א-1981</span>
      </p>
      <p>
        <span>11.</span>
        <span><b>"סניפי {{name}}"</b></span>
        <span>סניפי {{name}} בפרישה ארצית, אשר רשימתם תעודכן מעת לעת באתר ו/או במקומות העסקים ו/או בכל מקום אחר, כפי שתמצא {{name}} לנכון על פי שיקול דעתה הבלעדי.</span>
      </p>
      <p>
        <span>11.</span>
        <span><b>"הצטרפות למועדון"</b></span>
        <span>ו/או</span>
        <span><b>"אקטיבציה"</b></span>
        <span>משמעה, מילוי פרטים על ידי הלקוח בלבד כשהלקוח נכנס לאתר {{name}} באופן עצמאי וממלא אחר טופס ייעודי באתר שנקרא: "הצטרפות ל"{{name}}"</span>
      </p>
     
      <p>
        למען הסר ספק מובהר ומודגש בזאת, כילקוח אשר לא השלים את מילוי מלוא הפרטים שבשדות שבטופס האמור, לא יוכל להיכלל כחברמועדון, שכן, לא בוצעה אקטיבציה ומשכך, לא יוכל לבוא בכל טענה ו/או דרישה ו/אותביעה כלפי {{name}} ו/או מי מטעמה בעניין.
      </p>
      <p>
        <span>במסגרת הרישום – יסמן הלקוח בשתירובריקות פוזיטיביות (סימון "וי") על רצונו להצטרף למועדון, היינו אישורתקנון .{{name}}</span>
        <span><b>בלעדי אישור זה לא יוכל הלקוח להשלים אחר הרישום ולא יוכל להצטרף למועדון הלקוחות של {{name}} .</b></span>
      </p>
      <p>
        במסגרת הצטרפותך למועדון, הנך זכאילהטבות כחברה {{name}}, אולם כדילקבל מאיתנו את ההטבות באמצעות מסרון ו/או מייל, עלינו לקבל את הסכמתך המפורשתלקבלת דיוור שיווקי ולשם כך, יהיה עליך לסמן ברובריקה ייעודית פוזיטיבית (סימון"וי") על אישורך לקבל מאיתנו דיוור שיווקי. תשומת הלב, כי תוכל לחזור בךמהסכמתך לאישור זה, בכל עת בהתאם לחוק.
      </p>
      <p>
        ככל ותבחר שלא לקבל דיוור שיווקי כאמור, עדיין תהיה זכאי להטבות כחבר מועדון {{name}}, תוכל להתעדכן בהטבות המגיעות לך באמצעות האתר ו/או האפליקציה ו/או בסניפים וליהנות ממימוש ההטבות כאמור בסניפים ו/או באתר ו/או באפליקציה.
      </p>
      <p><u>להלן נוסח אישור דיוור שיווקי:</u></p>
      <p>
        {{name}} מעוניינת לשלוח אליך מעת לעת, באמצעותהפרטים שהזנת במסגרת הזמנה שביצעת באתר {{name}} – דואר אלקטרוני ו/או באמצעות הודעות SMS מידע בדבר מוצריה וכן מידע שיווקיופרסומי. מידע כזה ישוגר אליך רק אם נתת הסכמה מפורשת לכך, היינו, רק אם סימנתבאופן פוזיטיבי את הצ'ק בוקס המסומן. מובהר בזאת, כי בכל עת תוכל לחזור בך מהסכמתךולבטלה ובהתאם, תחדל לקבל מידע פרסומי כאמור. {{name}} לא תמסור את פרטיך האישיים למפרסמים. עם זאת, היא רשאית להעביר מידע סטטיסטי עלפעילות המשתמשים באתר {{name}}.מידע סטטיסטי שיועבר לא יזהה אותך אישית.
      </p>
      <p>
        <span>12.</span>
        <span><b>"הטבות לחברי {{name}}"</b></span>
        <span>– לקוח אשר הצטרף למועדון הלקוחות של {{name}} (להלן: </span>
        <span><b>"המועדון"</b></span>
        <span>)  יהיה זכאי להטבות משתנות מעת לעת בהתאם לשק"ד הבלעדי של {{name}}  כלומר, ייתכן וחלק מההטבות שיפורטו להלן ישתנו ולא תהנה מהן במסגרת הצטרפותך אולם יכול ותהנה מהטבות אחרות. לאור האמור, לא תשמע כל טענה ו/או דרישה ו/או תביעה מצד הלקוח כלפי {{name}} בעניין.</span>
      </p>
      <p>
        להלן מגוון ההטבות כפי שהינן כיום:
      </p>
      <p>
        <span><b>הטבת הצטרפות  – הטבת הצטרפות נקבעת בהתאם לשק"ד הבלעדי של החברה</b></span>
        <span>כפי שתהיה מעת לעת. ההטבה הינה חד פעמית ללא תשלום ואינה ניתנת להעברה ו/או החלפה ו/או המרה לא בכסף ולא בשווה כסף.</span>
      </p>
      <p>
        <span><b>הטבת יומולדת – הטבת יום ההולדת נקבעת בהתאם לשק"ד הבלעדי של החברה</b></span>
        <span>כפי שתהיה מעת לעת. ההטבה הינה חד פעמית ללא תשלום ואינה ניתנת להעברה ו/או החלפה ו/או המרה לא בכסף ולא בשווה כסף. ההטבה תקפה באותו חודש קלנדרי ללקוחות המועדון החוגגים באותו החודש יום הולדת, והטבה זו ניתנת למימוש באותו חודש יום ההולדת בלבד. לא יינתן מימוש בחודש העוקב במידה ואינו מומש ולא בכל מועד אחר.</span>
      </p>
      <p>
        <span><b>הטבת יום נישואין – הטבת יום נישואין נקבעת בהתאם לשק"ד הבלעדי של החברה</b></span>
        <span>כפי שתהיה מעת לעת. ההטבה הינה חד פעמית ללא תשלום ואינה ניתנת להעברה ו/או החלפה ו/או המרה לא בכסף ולא בשווה כסף. ההטבה תקפה באותו חודש קלנדרי ללקוחות המועדון החוגגים באותו החודש יום נישואין, והטבה זו ניתנת למימוש באותו חודש יום נישואין בלבד. לא יינתן מימוש בחודש העוקב במידה ואינו מומש ולא בכל מועד אחר.</span>
      </p>
      <p>
        <span><b>בחירת הטבה בחנות ההטבות,</b></span>
        <span> באמצעות נקודות שנצברו ע"י הלקוח, במימוש אשר לא יאוחר מ-90 יום ממועד ההצטרפות למועדון;</span>
      </p>
      <p>
        תשומת הלב, כי ההטבה תהיה מעודכנת ללקוחות המועדון על מספר הנייד אשר עדכנו בטופס ההצטרפות במסגרת הצטרפותם למועדון והם יוכלו לממש את ההטבה גם בסניפים וגם באתר.
      </p>
      <p>
        <span><b>יודגש, מאחר והחברות במועדון הינה "תלוי" מספר נייד כפי שעודכן בטופס ההצטרפות. יש לשים לב למפורט להלן:</b></span>
      </p>
      <p>
        <span><b>*</b></span> &nbsp; 
        <span><b>לקוחות אשר ביקשו להסירם מרשימת מקבלי הדיוור השיווקי, לא יקבלו מסרון (SMS) למימוש ההטבות אולם ההטבה תהיה קיימת למימוש בסניפים ובאתר בהזנת מספר הנייד כפי שנרשמו איתו למועדון.</b></span>
      </p>
      <p>
        <span><b>*</b></span> &nbsp; 
        <span><b>לקוחות אשר שינו את מספר הנייד שלהם כך שהינו שונה מהמספר אותו עדכנו בטופס ההצטרפות כאמור, לא יקבלו את המסרון שכן אינם קיימים במערכת.</b></span>
      </p>
      <p>
        <span><b>*</b></span> &nbsp; 
        <span><b>הטבות חודשיות ו/או תקופתיות – החברה תהיה רשאית להעניק ללקוחות המועדון בהתאם לשק"ד הבלעדי וללא כל התחייבות מצידה להיקף או לכמות ההטבות, הטבות חודשיות ו/או תקופתיות.</b></span>
      </p>
      <p>
        <span><b>*</b></span> &nbsp;
        <span>
         <b> החברות במועדון אינה מקנה כפל מבצעים ו/או הנחות ו/או הטבות אלא אם החליטה על כך החברה בהתאם לשק"ד הבלעדי וציינה זאת מפורשות.</b>
        </span>
      </p>
      <p>
        <span>13.</span>
        <span><b>הסרה ממועדון הלקוחות</b></span>
        <span>– ביטול החברות במועדון הלקוחות. כל חבר מועדון יהיה רשאי להפסיק את חברותו במועדון בכל עת. הודעת החבר על הפסקת חברותו במועדון תחשב כהודעת ויתור על זכויותיו והטבותיו שנצברו במועדון הלקוחות, כל חבר המעוניין לבטל את החברות במועדון יודיע על כך על ידי שליחת הודעה לכתובת:{{email}} נסגור את חשבונך בהקדם האפשרי לאחר קבלת בקשתך. מדיניות הפרטיות מסדירה את אופן הטיפול במידע שלך ו/או כל תוכן משתמש (כהגדרתו להלן) לאחר סגירת חשבונך.</span>
      </p>
    </div>
  </div>
</div>