<div class="container">
  <div class="row">
    <div class="col">
     <p>  
      חברת {{name}} בע"מ (להלן: "{{name}}", "אנחנו" או "אנו") רואה חשיבות בשמירה על פרטיות המשתמשים ועושה מאמצים להגן ולשמור כיאות על המידע האישי של המשתמשים שלה ועל פרטיותם. השימוש באפליקציה ו/או בשירותים כפוף לתנאי השימוש המפורטים בכתובת תנאי שימוש ("תנאי השימוש") ולמדיניות הפרטיות זו. "אתה" או "משתמש/ים" פירושו כל אדם המשתמש באפליקציה ו/או בשירותים ו/או מי מטעמם. המונחים אשר לא הוגדרו במפורש במסמך זה יפורשו בהתאם להגדרות שניתנו להם בתנאי השימוש.      
     </p>   
     <p>
      אנחנו מכבדים את זכותך לפרטיות וחשוב לנו כי בכל עת יהיה בידיך כל המידע הדרוש כדי לקבל החלטות מושכלות הנוגעות למידע האישי שלך. מדיניות פרטיות זאת מפרטת את סוגי המידע האישי שאנו אוספים, והאופן בו אנו אוספים, משתמשים, מעבירים, ושומרים על מידע האישי אודות משתמשים אשר נמסר לנו או אשר נאסף על ידינו במהלך השימוש באפליקציה ו/או בשירותים. כמו כן, מדיניות הפרטיות מפרטת את היכולת שלך לשלוט בשימוש הנעשה במידע האישי שנאסף.
     </p>
     <p><b>המידע שאנו אוספים</b></p>
     <p>
       אנו אוספים מידע אישי מכלל המשתמשים באפליקציה ו/או בשירותים. המידע האישי שאנו אוספים כולל את המידע האישי שאתה מזין לאפליקציה כאשר אתה נרשם לשירותים כגון שם, כתובת אימייל, מספר טלפון. אנו נאסוף פרטים אודות שימושך באפליקציה ו/או בשירותים, כגון שירותים ו/או בתי עסק בהם התעניינת, תוכן בו צפית, והיסטוריית השימוש ו/או המיקום שלך בעת שימושך באפליקציה ו/או בשירותים. בנוסף, אנו נאסוף את כל המידע האישי שאתה מוסר בעת יצירת קשר עמנו, מכל סיבה שהיא ונתעד את התקשרות שלנו אתך. בנוסף, אנו אוספים כל מידע האישי שאתה מוסר בעת יצירת קשר עמנו, מכל סיבה שהיא. ייתכן ונבקש ממך מידע אישי נוסף אם יהיה צורך בכך על מנת לספק לך את השירותים או שירותים נוספים שביקשת.
      בנוסף למידע המפורט לעיל, במהלך שימושך באפליקציה ו/או בשירותים, מידע אישי מסוים עשוי להישמר באופן אוטומטי, כגון מידע על מכשיר הקצה, לרבות Device ID, מערכת ההפעלה, כתובת ה-IP, היסטוריית הגלישה, ו/או הדפדפן בו אתה משתמש.
    </p>
     <p><b>כיצד אנו משתמשים במידע אישי</b></p>
     <p><u>שירותים והתאמות</u></p>
     <p>
      אנו, ספקי השירותים ו/או שותפינו העסקיים נשתמש במידע האישי שנאסף למטרות הבאות: (1) כדי לספק לך גישה לאפליקציה ו/או לשירותים; (2) כדי לנהל חשבונות משתמשים ולנקוט בפעולות שקשורות לחשבונות משתמשים; (3) כדי לספק לך תמיכה ולסייע בפתרון בעיות שאתה או המשתמשים אחרים עלולים להיתקל בהן; (4) כדי לבחון כל תלונה או שאלה שעולה ולהגיב עליה בהתאם; (5) כדי לשלוח הודעות (לרבות דואר אלקטרוני) להודיע לך על שינויים או שיפורים באפליקציה ו/או בשירותים וכדי ליצור אתך קשר במקרה הצורך; (6) כדי לשלוח לך מידע ו/או פניות בדיוור ישיר ו/או חומרים פרסומיים הנוגעים לשירותים, מוצרים ופעילויות שאנחנו ו/או בתי העסק ו/או ספקי שירותים אחרים מציעים ו/או להציע לך שירותי דיוור שוטפים, ככל שתבחר להירשם לשירות זה; (7) כדי לבצע סקירות והערכות לצורך פיתוח שירותים ו/או תוכן חדש; (8) כדי למנוע ניסיונות הונאה ולהגן על אבטחת האפליקציה והשירותים ולתת מענה לכל בעיה הנוגעת לאפליקציה ו/או לשירותים.
     </p>
     <p><u>מאגר מידע</u></p>
     <p>
       המידע האישי אשר תמסור בעת ההרשמה ו/או השימוש באפליקציה ו/או בשירותים ו/או בעת עדכון פרטיך (כפי שיעשה מעת לעת), יישמרו במאגר המידע של {{name}}. מאגר המידע של {{name}} הינו מאגר מידע רשום בהתאם לחוק הגנת הפרטיות, התשמ"א-1981 ("מאגר המידע", "חוק הגנת הפרטיות"), ו{{name}} פועלת בהתאם לחוק האמור ולכל דין רלוונטי. {{name}} תהא רשאית לנהוג במאגר המידע של המשתמשים בהתאם להוראות הדין ולעשות במאגר המידע של המשתמשים שימוש, בין היתר, לצורך שליחת דיוור, מידע ותכנים אל המשתמשים (בדואר ו/או בדואר אלקטרוני ו/או בהודעות טקסט לטלפון הנייד), לרבות דברי פרסום של בתי העסק השונים ו/או מפרסמים שונים.
     </p>
     <p><u>תשלומים</u></p>
     <p>
      במידה והנך משתמש רשום, פרטי כרטיס האשראי שלך, אם וככל שמסרת, יאוחסנו על ידי {{name}} באופן מוטמע, כך שלא תצטרך להכניס את פרטי הכרטיס כל פעם שתבצע הזמנה דרך אתרה של {{name}}.
     </p>
     <p><u>מיקום גיאוגרפי</u></p>
     <p>
      חלקם של השירותים המוצעים באמצעות האפליקציה מבוססי מיקום, דוגמת שירותי משלוחים. ככל שתבחר להשתמש בשירותים אלו כאמור, תידרש הסכמתך לאשר לאפליקציה גישה למיקומך הגיאוגרפי.
     </p>
     <p><u>מידע תזונתי</u></p>
     <p>
      אנו עשויים לשמור מידע אישי הנגזר ממצבך הבריאותי, דוגמת רגישויות למזון, על מנת להתאים בצורה אישית את השירותים אשר {{name}} מספקת לך באמצעות האפליקציה ו/או השירותים.
     </p>
     <p><u>צרכים פנימיים</u></p>
     <p>
      אנו עשויים להשתמש במידע האישי שלך לצרכים פנימיים, לדוגמא, כדי לסייע באבחון בעיות תפעוליות, כדי לשפר את האפליקציה ו/או השירותים וכדי להתאים אותם לצרכים מסוימים שלנו ו/או של המשתמשים.
     </p>
     <p><u>נתונים סטטיסטים</u></p>
     <p>
      אנו עשויים לאסוף נתונים סטטיסטיים שהתקבלו כתוצאה מעיבוד מידע, בכלל זה מידע אישי המתקבל ממגוון משתמשים ("נתונים סטטיסטיים"). זאת בכדי להתאים את האפליקציה ו/או השירותים לצרכים שונים ועל מנת לשפר ולייעל את האפליקציה ו/או השירותים ובכדי שנוכל לשקול שירותים ומוצרים חדשים ובכדי שנוכל להתאים שירותים ומוצרים קיימים לצרכיהם של המשתמשים. אנו עשויים להעביר את הנתונים הסטטיסטיים לצדדים שלישיים מורשים (כהגדרתו להלן), ללא הגבלה, בהתאם לתנאים המסחריים שנקבע ועל פי שיקול דעתנו הבלעדי. מידע סטטיסטי הינו אנונימי ולא נקשר אותו למידע אישי.
     </p>
     <p><u>ניתוח נתונים סטטיסטיים</u></p>
     <p>
      אנו עשויים לנתח את הנתונים הסטטיסטיים באמצעות תוכנות המספקות שירותי מידע וניתוח סטטיסטי לרבות, אך ללא הגבלה, באמצעות Google Analytics ("כלים אנליטיים"). המידע הנאסף על ידי הכלים האנליטיים נועד לצרכי ניתוח, מחקר ובקרה ולשיפור האפלציקה ו/או השירותים. המידע אשר Google Analytics אוסף בעקבות שימושך באפליקציה כפוף לתנאי השימוש ומדיניות הפרטיות של Google Analytics כמפורט להלן: http://www.google.com/analytics/terms/us.html and the Google Privacy Policy located at http://www.google.com/policies/privacy/.
     </p>
     <p><b>שימושים אחרים או העברת מידע אישי</b></p>
     <p><u>מסירת מידע אישי לבתי העסק</u></p>
     <p>
      בהמשך לשימושך באפליקציה ו/או השירותים, רשאית {{name}} לשתף עם בית העסק מידע אישי עליך, בין אם על ידי מסירת המידע האישי זה בפועל או על ידי מתן אפשרות גישה לבית העסק למידע האישי השמור במאגר המידע שלה.
      שותפים עסקיים, ספקי שירות, צדדים שלישים וקבלני משנה
      אנו עשויים לשתף מידע, לרבות מידע אישי, עם ספקי שירות, קבלני משנה, חברות קשורות, ושותפים עסקיים (להלן: "צדדים שלישיים מורשים") אשר עשויים להשתמש במידע כדי (1) לסייע לנו לספק את השירותים; (2) לסייע לנו בהבנת השימוש באפליקציה ו/או בשירותים; (3) לפרסם מידע, תכנים והכוונת שימוש מותאמים אישית.
      צדדים שלישיים מורשים אליהם יועבר מידע אישי עשויים להיות מצויים (כולם או חלקם) מחוץ לגבולות מדינת ישראל. {{name}} תנקוט בצעדים כדי להבטיח רמה נאותה של הגנה למידע האישי אודותיך כמפורט במדיניות זו וכנדרש לפי הדין החל.
     </p>
     <p><u>העברת בעלות</u></p>
     <p>
      אנו עשויים להעביר את מאגרי המידע שלנו המכילים מידע אישי לצד שלישי כלשהו ככל שהוא ירכוש את {{name}} את נכסיה או חלק מאלו ו/או במהלך מו"מ לגבי רכישת {{name}} ו/או נכסיה ו/או חלק מאלה.
      העברת מידע אישי במסגרת אכיפת חוק
      אנו נשתף פעולה עם רשויות אכיפת החוק או כל צו שיפוטי הדורש או המנחה אותנו לגלות את זהות, התנהגות או תוכן (דיגיטאלי) של משתמש אשר נחשד בפעולות הנחזות למנוגדות לדין או בפעולות מפרות חוק או אם נידרש לעשות כן בהתאם לדין החל, תקנה או צו בית משפט או רשות אכיפה כלשהם. כמו כן, אנו עשויים לשתף את המידע האישי שלך עם צדדים שלישיים אם אנו מאמינים בתום לב שגילוי המידע הינו נאות ונועד להגן על הזכויות, הרכוש או הבטיחות שלנו (לרבות אכיפת מדיניות הפרטיות ותנאי השימוש) או להגן על הזכויות, הרכוש או הבטיחות של צדדים שלישיים.      
     </p>
     <p><u>שיתוף נוסף של מידע אישי</u></p>
     <p>
      אנו נעביר את המידע האישי שלך לצדדים שלישיים רלוונטיים אם נגלה כי אילו מפעולותיך באפליקציה ו/או באמצעות השירותים מפרות את תנאי השימוש או נעשו לשם ביצוע תרמית מכל סוג שהוא או אם נעמוד בפני נקיטת צעדים משפטיים נגדנו (פליליים או אזרחיים) בגין פעולות שביצעת באפליקציה ו/או באמצעות השירותים.
     </p>
     <p><b>כיצד אנו מגנים על מידע אישי</b></p>
     <p>
      אנו נוקטים באמצעי אבטחה העומדים בסטנדרטים המסחריים המקובלים בתעשייה על מנת להגן על המידע האישי שנמסר לנו, החל במהלך העברתו, לאחר קבלת המידע האישי ובכל תקופת החזקתו ברשותנו. למרות האמור לעיל, העברת כל מידע באמצעות האינטרנט או כל אמצעי אלקטרוני אחר אינה בטוחה לחלוטין. בהתאם לכך, איננו יכולים להבטיח את בטיחות המלאה של מידע האישי המועבר אלינו, לרבות בטיחות מידע האישי שלך.
     </p>
     <p><b>קטינים</b></p>
     <p>
      {{name}} אינה אוספת במכוון מידע אישי אודות משתמשים שגילם מתחת לגיל 18. ככל שהנך מתחת לגיל 18 ו/או אינך רשאי לבצע פעולות משפטיות ללא אישור אפוטרופוס, אתה נדרש לקבל את הסכמתם הוריך או אפוטרופוס שלך לאיסוף המידע האישי שלך המתואר במדיניות הפרטיות. במידה ונחשפת לכך שמשתמש מתחת לגיל 18 נרשם לאפליקציה ללא אישור כאמור, הנך מתבקש להודיע לנו על כך ללא דיחוי.
      זכות עיון ושינוי מידע אישי
      הנך זכאי לבקש לעיין ו/או לשנות או לתקן אי דיוקים או שגיאות במידע אישי שנאסף עליך על ידי {{name}}, בהתאם להוראות החוק. כדי לבקש לעיין במידע האישי שלך או לתקן או לעדכן אותו, נא צור עמנו קשר בכתובת contact@bite.co.il. אנו נשנה את המידע האישי הרלוונטי בהתאם לבקשתך ותוך זמן סביר לאחר קבלת הבקשה, אם וככל שהדבר אפשרי ובהתאם להוראות החוק.
     </p>
     <p><u>Cookies</u></p>
     <p>
      אנחנו עשויים להשתמש ב"עוגיות" ("cookies") – קבצי טקסט קטנים אשר נשלחים לדפדפן במחשב בו אתה משתמש), על מנת לספק לך שירות מהיר, יעיל ומותאם אישית ועל מנת לחסוך ממך את הצורך להזין את פרטיך האישיים בכל כניסה לאפליקציה.
ביכולתך לשנות את הגדרות הדפדפן שלך כך שלא ייאספו במחשבך "עוגיות" או שיימחקו. 
     </p>
     <p><b>שמירת המידע האישי</b></p>
     <p>
      אנו נשמור את המידע האישי אודותיך למשך הזמן הדרוש על מנת: לממש את מטרות השימוש במידע המפורטות במדיניות הפרטיות; לעמוד בהתחייבויות המשפטיות שלנו; לפתור סכסוכים; לאכוף את ההסכמים שלנו; או למשך פרק זמן ארוך יותר כפי שיידרש לפי הוראות הדין החל. אנו עשויים למחוק את המידע האישי שלך מבלי להודיע לך על כך כל עוד אנו רואים שאין צורך להחזיק בו למטרות המפורטות לעיל.
     </p>
     <p><b>תקשורת והודעות</b></p>
     <p>
      אנו שומרים לעצמנו את הזכות לשלוח לך הודעות הקשורות לשימושך באפליקציה ו/או לשירותים, לרבות הודעות שירות והודעות ניהוליות המתייחסות לחשבונך או לפעילותך במסגרת האפליקציה ו/או השירותים, מבלי להציע לך את האפשרות לבטל את קבלתן. אם אינך מעוניין לקבל הודעות כאלו, תוכל לבטל את חשבונך.
     </p>
     <p><b>שינויים</b></p>
     <p>
      מדיניות הפרטיות שלנו עשויה להשתנות מעת לעת. במידה ויבוצעו שינויים מהותיים במדיניות הפרטיות תפורסם על כך הודעה.
     </p>
     <p><b>הערות ושאלות</b></p>
     <p>אם יש לך שאלות או הערות לגבי מדיניות הפרטיות שלנו, אנא צור קשר בכתובת contact@bite.co.il.</p>
     <p>עודכן לאחרונה: מאי 2021</p>
    </div>
  </div>
</div>
   